@tailwind base;
@tailwind components;
@tailwind utilities;

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-bottom: solid black 1px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #ffff;
    border-radius: 4px;
    cursor: pointer;
}